@model UPC.SISGFRAN.Web.Helper.EvaluacionSugerenciaHelper

@{
    ViewBag.Title = "Evaluar sugerencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var message = TempData["msg"] ?? string.Empty;
}


@{


    var grid = new WebGrid(
        source: Model.DetalleEvaluacionsugerencia,
        rowsPerPage: 10, canPage: false, canSort: false);
}


@using (Html.BeginForm("Regresar", "Sugerencia"))
{

    <div class="container2">
        <div class="margenPanelRigth">
            <fieldset>
                <legend><center>Resultado de Evaluación de Sugerencias</center></legend>
                <div class="form-group row OcultarDiv">
                    <input type="hidden" value="" id="hddDNI" name="hddDNI">
                    <input type="hidden" value="" id="hddCodSolicitud" name="hddCodSolicitud">
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="gridEvaluarSolicitante">
                                    <table>
                                        <tr style="height: 15px;">
                                            <td><label class="control-label ">Distrito:</label></td>
                                            <td> </td>
                                            <td style="width: 50px;"></td>
                                            <td> </td>
                                            <td><label class="control-label ">Local:</label></td>
                                            <td> </td>
                                        </tr>

                                        <tr style="height: 15px;">
                                            <td><input type="text" size="50" disabled="disabled" name="nombre_distrito" value="@Html.DisplayTextFor(model => model.nombre_distrito)" id="FechaInicio" /></td>
                                            <td></td>
                                            <td style="width: 50px;"></td>
                                            <td></td>
                                            <td><input type="text" size="50" disabled="disabled" name="nombre_local" value="@Html.DisplayTextFor(model => model.nombre_local)" id="FechaFin" /></td>
                                            <td></td>
                                        </tr>

                                    </table>
                                    <br />

                                    <table>
                                        <tr style="height: 15px;">
                                            <td><label class="control-label ">Fecha Inicio:</label></td>
                                            <td> </td>
                                            <td style="width: 50px;"></td>
                                            <td> </td>
                                            <td><label class="control-label">Fecha Fin:</label></td>
                                            <td> </td>
                                        </tr>

                                        <tr style="height: 15px;">
                                            <td><input type="text" size="50" disabled="disabled" name="FechaInicio" value="@Html.DisplayTextFor(model => model.fecha_inicio)" id="FechaInicio" /></td>
                                            <td></td>
                                            <td style="width: 50px;"></td>
                                            <td></td>
                                            <td><input type="text" size="50" disabled="disabled" name="FechaFin" value="@Html.DisplayTextFor(model => model.fecha_fin)" id="FechaFin" /></td>
                                            <td></td>
                                        </tr>

                                    </table>

                                    <br />
                                    <table width="100%">
                                        <tr style="height: 50px;">
                                            <td>
                                                <label class="control-label"> Detalle de evaluación:</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea class="form-control" rows="5" id="comment">@Html.DisplayTextFor(model => model.descripcion_evaluacion)</textarea>
                                            </td>

                                        </tr>
                                    </table>

                                    <br />

                                    <div id="gridEvaluarSolicitante">

                                        <div id="gridSolicitud">
                                            @grid.GetHtml(

                                             tableStyle: "webgrid",
                                             headerStyle: "webgrid-header",
                                             footerStyle: "webgrid-footer",
                                             alternatingRowStyle: "webgrid-alternating-row",
                                             selectedRowStyle: "webgrid-selected-row",
                                             rowStyle: "webgrid-row-style",
                                    columns: grid.Columns(

                                            grid.Column("fecha_sugerencia", "Fecha de ingreso de sugerencia ", style: "col-md-1"),
                                                    grid.Column("administrador_sugerencia", "Administrador de local", style: "col-md-1"),
                                                    grid.Column("detalle_sugerencia", "Palabras clave en detalle de sugerencia", style: "col-md-1"),
                                                    grid.Column("prioridad_sugerencia", "Prioridad de Sugerencia", style: "col-md-1"),

                                                    grid.Column("Enviar Sugerencia", format: (item) =>
                                                    {
                                                        if (item.prioridadSugerencia == 1)
                                                        {
                                                            return Html.Raw(string.Format("<text><a class=\"\"  href=\"javascript:showPopUpEmail('" + item.codigo_sugerencia + "','" + item.administrador_sugerencia + "','" + item.correo_electronico + "','" + item.descripcion_local + "');\"><img height='25' width='25' src=\"{0}\" alt=\"Image\"/></a><img height='20' width='20' src=\"/Content/Images/alert.png\" alt=\"Prioridad Alta\"/></text>", Url.Content("~/Content/Images/mail.png")));

                                                        }
                                                        else
                                                        {
                                                            return Html.Raw(string.Format("<text><a class=\"\"  href=\"javascript:showPopUpEmail('" + item.codigo_sugerencia + "','" + item.administrador_sugerencia + "','" + item.correo_electronico + "','" + item.descripcion_local + "');\"><img height='25' width='25' src=\"{0}\" alt=\"Image\"/></a></text>", Url.Content("~/Content/Images/mail.png")));
                                                        }
                                                    }, style: "col-md-1", canSort: true),
                                                    grid.Column("Ver detalle", format: (item) =>
                                                                {
                                                                    return Html.Raw(string.Format("<text><a class=\"\"  href=\"javascript:showPopUp('" + item.codigo_sugerencia + "','" + item.fecha_sugerencia + "','" + item.descripcion_sugerencia + "');\"><img height='25' width='25' src=\"{0}\" alt=\"Image\"/></a></text>", Url.Content("~/Content/Images/lupa.png")));
                                                                }, style: "col-md-1", canSort: true))
                                                    )

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br /><br /><br /><p></p>
                    <div class="container-fluid">
                        <div class="margenPanelRigth">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="gridEvaluarSolicitante">
                                                <table>
                                                    <tr style="height: 15px;">
                                                        <td colspan="2"><label class="control-label ">LEYENDA</label></td>
                                                    </tr>
                                                    <tr style="height: 15px;">
                                                        <td width="150px"><label class="control-label ">Prioridad ALTA:</label></td>
                                                        <td>Se asigna prioridad alta a las sugerencias que contengan palabras que esten relacionadas con el plan estratégico de la empresa.</td>
                                                    </tr>
                                                    <tr style="height: 15px;">
                                                        <td><label class="control-label ">Prioridad MEDIA:</label></td>
                                                        <td>Se asigna prioridad media a las sugerencias que contengan palabras que afectan a la imagen institucional o posible mejora de procesos.</td>
                                                    </tr>
                                                    <tr style="height: 15px;">
                                                        <td><label class="control-label ">Prioridad BAJA:</label></td>
                                                        <td><label class="control-label "></label>Se asigna prioridad baja a las sugerencias que no contengan palabras importantes que no necesariamente afecte al negocio o imagen institucional.</td>
                                                    </tr>


                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> </div>
                                        </div>
                                        <br /><br /><br /><p></p>
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="form-group row col-md-6">
                                                        <span class="input-group-btn" style="padding-left:5px;">
                                                            <center><button id="btnEvaluar" class="btn btn-success" type="submit">Regresar</button></center>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
</fieldset>

        </div>
    </div>
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog" style="width:700px">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div id='myModal2' class='modal fade in'>
    <div class="modal-dialog" style="width:700px">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jsEvalProc/Procedimiento.js")

    <section class="scripts">

        <script type="text/javascript">

        $(document).ready(function () {
            CargarPeriodo();
            CargarFranquicia();
            CargarCondicion();
        });


        function CargarPeriodo(id) {
            $.get('@Url.Action("ListaPeriodo", "Procedimiento")')
            .done(function (data) {
                $('#cboPeriodo').empty();
                $('#cboPeriodo').append('<option value="-1">--TODOS--</option>');
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.Nombre);
                    $option.html(row.Nombre);
                    $('#cboPeriodo').append($option);
                })
            })
            .fail(function (data) {
                console.log('error');
            });
        }

            function showPopUp(codigo,fecha,detalle) {
               
                $('#myModalContent').load('/Sugerencia/DetalleSugerencia', function () {
                    $('#myModal').modal({
                        keyboard: false,
                        backdrop: 'static'
                    }, 'show');
                    $('#codigoSugerencia').val(codigo + " - " + fecha);
                    $('#detalleSugerenciaPop').val(detalle);
                    bindForm(this);
                   
                });

            }

            function showPopUpEmail(codigo, NombreResponsable, CorreoElectronico, nombreLocal) {

                $('#myModalContent').load('/Sugerencia/DetalleCorreo', function () {
                    $('#myModal').modal({
                        keyboard: false,
                        backdrop: 'static'
                    }, 'show');
                    $('#codigoSugerencia').val(codigo);
                    $('#correoElectronico').val(CorreoElectronico);
                    $('#nombreResponsable').val(NombreResponsable);
                    $('#nombreLocal').val(nombreLocal);
                    bindForm(this);

                });

            }

        </script>
        <script type="text/javascript">
    var message = '@message';
    if (message)
        bootbox.alert(message);
        </script>

    </section>
}
