@model UPC.SISGFRAN.Web.Helper.CreditoBancario

@{
    ViewBag.Title = "Evaluar solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    

    var grid= new WebGrid(
        source: Model.CreditoBancarioDetalle,
        rowsPerPage: 4, canPage: true, canSort: false);
}

@using (Html.BeginForm("ResultadoSolicitante", "Solicitante"))

{
    
<div class="container2">
    <div class="margenPanelRigth">
        <fieldset>
            <legend><center>Evaluar Solicitante</center></legend>
            <div class="form-group row OcultarDiv">
                <input type="hidden" value="" id="hddDNI" name="hddDNI">
                <input type="hidden" value="" id="hddCodSolicitud" name="hddCodSolicitud">
                <input type="hidden" value="@Html.DisplayTextFor(model => model.NumeroDocumento)" id="dni" name="dni">
                <input type="hidden" value="@Html.DisplayTextFor(model => model.montoCapital)" id="capitalMensual" name="capitalMensual">
                <input type="hidden" value="@Html.DisplayTextFor(model => model.numeroEntidades )" id="numeroEntidades" name="numeroEntidades">
                <input type="hidden" value="@Html.DisplayTextFor(model => model.sumaDeuda )" id="sumaDeuda" name="sumaDeuda">
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-table"></i> Datos del solicitante</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="gridEvaluarSolicitante">
                                <table>
                                    <tr style="height: 50px;">
                                        <td>
                                            Número Documento:
                                        </td>
                                        <td colspan="3"><input type="text" disabled="disabled" size="12" name="NumeroDocumento" value="@Html.DisplayTextFor(model => model.NumeroDocumento )" id="NumeroDocumento" /></td>
                                        <td></td>
                                        <td>Nombres y Apellidos:</td>
                                        <td colspan="2"><input type="text" disabled="disabled" size="50" name="nombreApellido" value="@Html.DisplayTextFor(model => model.NombreCompleto)" id="nombreApellido" /></td>
                                    </tr>
                                    <tr style="height: 50px;">
                                        <td style="width:15%">
                                            Fecha de Nacimiento:
                                        </td>
                                        <td><input type="text" size="12" disabled="disabled" name="FechaNacimiento" value="@Html.DisplayTextFor(model => model.FechaNacimiento )" id="FechaNacimiento" /></td>
                                        <td></td>
                                        <td>Sexo:</td>
                                        <td><input type="text" size="12" disabled="disabled" name="Sexo" value="@Html.DisplayTextFor(model => model.sexo )" id="Sexo" /></td>
                                        <td></td>
                                        <td>Estado civil:</td>
                                        <td><input type="text" size="12" disabled="disabled" name="EstadoCivil" value="@Html.DisplayTextFor(model => model.estadoCivil )" id="EstadoCivil" /></td>
                                    </tr>
                                    <tr style="height: 50px;">
                                        <td>
                                            Dirección:
                                        </td>
                                        <td colspan="3"><input type="text" disabled="disabled" size="65" name="direccion" value="@Html.DisplayTextFor(model => model.direccion )" id="direccion" /></td>
                                        <td></td>
                                        <td>Departamento:</td>
                                        <td colspan="2"><input type="text" disabled="disabled" size="65" name="departamento" value="@Html.DisplayTextFor(model => model.departamento)" id="departamento" /></td>
                                    </tr>
                                    <tr style="height: 50px;">
                                        <td>
                                            Provincia:
                                        </td>
                                        <td colspan="3"><input type="text" disabled="disabled" size="65" name="Provincia" value="@Html.DisplayTextFor(model => model.provincia)" id="Provincia" /></td>
                                        <td></td>
                                        <td>Distrito:</td>
                                        <td colspan="2"><input type="text" disabled="disabled" size="65" name="Distrito" value="@Html.DisplayTextFor(model => model.distrito)" id="Distrito" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-table"></i> Información Crediticia</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="gridInformacionCrediticia">
                                <table>
                                    <tr style="height: 50px;">
                                        <td>
                                            Ingresos del solicitante:
                                        </td>
                                        <td><input type="text" size="20" disabled="disabled" name="ingresos" value="@Html.DisplayTextFor(model => model.ingresos)" id="ingresos" /></td>
                                        <td>Gastos del solicitante:</td>
                                        <td><input type="text" size="20" disabled="disabled" name="gastos" value="@Html.DisplayTextFor(model => model.gastos)" id="gastos" /></td>
                                    </tr>
                                    <tr style="height: 50px;">
                                        <td>
                                            Código de SBS::
                                        </td>
                                        <td><input type="text" size="20" disabled="disabled" name="ingresos" value="@Html.DisplayTextFor(model => model.CodigoSBS)" id="ingresos" /></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                </table>

                                <br />
                                <table>
                                    <tr><td>Detalle de deuda:</td></tr>
                                </table>

                                <div id="gridSolicitud">
                                    @grid.GetHtml(  
                                             tableStyle: "webgrid",
                                             
                                             headerStyle: "webgrid-header",
                                             footerStyle: "webgrid-footer",
                                             alternatingRowStyle: "webgrid-alternating-row",
                                             selectedRowStyle: "webgrid-selected-row",
                                             rowStyle: "webgrid-row-style",
                                    columns: grid.Columns(
                                                      grid.Column("EntidadFinanciera", "Nombre banco", style: "col-md-1"),
                                                               grid.Column("NumeroProducto", "Número Producto", style: "col-md-1"),
                                                               grid.Column("TipoProducto", "Tipo Producto", style: "col-md-1"),
                                                               grid.Column("EstadoProducto", "Estado", style: "col-md-1"),
                                                               grid.Column("Capital", "Saldo crédito", style: "col-md-1"),
                                                               grid.Column("DeudaTotal", "Deuda actual", style: "col-md-1"),
                                                               grid.Column("Intereses", "Intereses", style: "col-md-1"),
                                                               grid.Column("FrecuenciaPago", "Forma pago", style: "col-md-1"),
                                                               grid.Column("Comportamiento", format: (item) =>
                                                                {
                                                                    if (item.calificacionCliente == 1)
                                                                   {
                                                                       return Html.Raw(string.Format("<text><center><img height='20' width='20' src=\"{0}\" alt=\"Image\"/></center></text>", Url.Content("~/Content/Images/1.png")));
                                                                   }
                                                                    else if (item.calificacionCliente == 2)
                                                                    {
                                                                        return Html.Raw(string.Format("<text><center><img height='20' width='20' src=\"{0}\" alt=\"Image\"/></center></text>", Url.Content("~/Content/Images/2.png")));
                                                                    } else
                                                                   {
                                                                       return Html.Raw(string.Format("<text><center><img height='20' width='20' src=\"{0}\" alt=\"Image\"/></center></text>", Url.Content("~/Content/Images/3.png")));
                                                                   }
                                                               }, style: "firstColumn",canSort:true)
                                    )
                                    )
                                </div>
                                <br />
                                <br />
                                <table>
                                    <tr><td colspan="3">Leyenda:</td></tr>
                                    <tr><td><img height='20' width='20' src="~/Content/Images/3.png" /> Al corriente</td>
                                    <td><img height='20' width='20'  src="~/Content/Images/2.png" /> Atraso</td>
                                    <td><img height='20' width='20'  src="~/Content/Images/1.png" /> Deudor</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <div class="form-group row col-md-3">
                <span class="input-group-btn" style="padding-left:5px;">
                    <button id="btnEvaluar" class="btn btn-success" type="submit">Evaluación Crediticia</button>
                </span>
            </div>
        </fieldset>
    </div>
</div>
}
