@{
    ViewBag.Title = "Evaluar solicitante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var message = TempData["msg"] ?? string.Empty;
    var id = TempData["id"] ?? string.Empty;
}

<!-- Paneles -->
@using (Html.BeginForm("EvaluacionSolicitante", "Solicitante", FormMethod.Get))
            {
        <div class="container2">

            <div class="row col-lg-11">
                <h3 class="page-header">Explorador de Solicitantes de Franquicia</h3>
            </div>

            <div class="row col-lg-11">
                <fieldset>
                    <div class="col-md-6">
                        <label class="control-label col-md-2">Solicitante:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="txtDesc" id="txtDesc" placeholder="#documento o Nombres" value="@ViewBag.desc" />
                        </div>
                    </div>
                    <div class="col-md-4" style="padding:0px;">
                        <label class=" control-label col-md-2">
                            Estado:
                        </label>
                        <div class="col-md-8">
                            <select class="form-control selectpicker" name="cboEstado" id="cboEstado" style="width:180px"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-1">
                        <span class="input-group-btn" style="padding-left:5px;">
                            <a class="btn btn-primary" href='#' onclick="Buscar();" id='btnBuscar' title='Buscar'>
                                <span class='glyphicon glyphicon-search'>
                                    Buscar
                                </span>
                            </a>
                        </span>
                    </div>
                </fieldset>
            </div>
            <div class="row col-lg-11" style="height:25px;">
            </div>

            <div class="row col-lg-12 margenPanelRigth">
                <fieldset>
                    <div class="form-group row OcultarDiv">
                        <input type="hidden" value="" id="hddCodSolicitud" name="hddCodSolicitud">
                    </div>
                    <table>
                        <tr>
                            <td>
                                @Html.ValidationMessage("validacion", new { @class = "text-danger", id = "msgVal" })
                        </td>
                    </tr>
                </table>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-table"></i> Listado de solicitantes a evaluar</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="gridSolicitud">
                                    @Html.Partial("_solicitud")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group row col-md-3">
                    <span class="input-group-btn" style="padding-left:5px;">
                        <button id="btnEvaluar" class="btn btn-success" type="submit" disabled>Evaluar Solicitante </button>
                    </span>
                </div>
            </fieldset>
        </div>
        </div>
}
<div class="modal fade in" id="mReporteCrediticio">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Reporte Crediticio</h2>
            </div>
                <div class="modal-body">

                    <div class="container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#menu1">Datos del solicitante</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="menu1" class="tab-pane fade in active">
                                <label>Solicitante</label>
                                <input type="text" class="form-control" id="nomSolicitante" />
                                <label>Capital</label>
                                <input type="text" class="form-control" value="0" id="capital" />
                                <label>Riesgo</label>
                                <input type="text" class="form-control" id="txtRiesgo" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cerrar</button>
                </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="mEvaluar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Evaluar Solicitante</h2>
            </div>
            @using (Html.BeginForm("EvaluacionCrediticia", "Solicitante", FormMethod.Get))
            {
                <div class="modal-body">
                    <div class="container">
                        <ul class="nav nav-tabs">                        
                            <li class="active" ><a data-toggle="tab" href="#menu1">Datos Reniec</a></li>
                            <li><a data-toggle="tab" href="#menu2">Información Financiera</a></li>                        
                        </ul>

                        <div id="myTabContent" class="tab-content">
                            <div id="menu1" class="tab-pane fade active in">
                                <h2></h2>
                                <input type="hidden" id="id" name="id" />
                                <label>Número Documento</label>
                                <input type="text" class="form-control" id="NroDoc" />
                                <label>Nombres y Apellidos</label>
                                <input type="text" class="form-control" id="NombreCompleto" />
                                <label>Fecha de Nacimiento</label>
                                <input type="text" class="form-control" id="FechNacimiento" />
                                <label>Sexo</label>
                                <input type="text" class="form-control" id="Sexo" />
                                <label>Grado de Instrucción</label>
                                <input type="text" class="form-control" id="GradoInstruccion" />
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h2></h2>
                                <label>Salario</label>
                                <input type="text" class="form-control" id="Salario" />
                                <label>Gastos</label>
                                <input type="text" class="form-control" id="Gastos" />
                                <label>Cargo</label>
                                <input type="text" class="form-control" id="Cargo" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnEvaluarCredito" class="btn btn-success"  type="submit">Enviar a evaluación crediticia</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            CargarEstado();
        });

        function SolicitudSelected(radio, solicitud, estado) {
            if (estado == -2)
            {
                $("#btnEvaluar").prop("disabled", false);
                if ($(radio).is(':checked')) {
                    var codDNI = $(radio).val();
                    $("#hddCodSolicitud").val(solicitud);
                    $("#hddDNI").val(codDNI);
                } else {
                    $("#hddCodSolicitud").val("");
                    $("a#btnEvaluacionCrediticia").attr("href", "#");
                }
            } else {
                $(radio).prop('checked', false);
                $("#hddCodSolicitud").val("");
                $("#btnEvaluar").prop("disabled", true);

                bootbox.alert({
                    message: "El solicitante ya fue evaluado.",
                    size: 'small'
                });
            }
        }

        function EvaluarSolicitante() {
            var solicitud = $("#hddCodSolicitud").val();
            
            if (solicitud == "") {
                bootbox.alert({
                    message: "Seleccione solicitante a evaluar",
                    size: 'small'
                });
                return;
            } else {


                if (solicitud === "45792117") {
                    bootbox.alert({
                        message: "Verificación incorrecta",
                        size: 'small',
                        buttons: {
                            ok: {
                                label: 'Rechazar solicitud'
                            }
                        },
                        callback: function () {

                            var id = $("#id_" + solicitud).val();
                            $.ajax({
                                url: 'RechazarSolicitud',
                                type: 'GET',
                                data: { id: id },
                                success: function (valid) {
                                 
                                }
                            });
                            location.reload();
                        }
                    });

                    return;
                }

                bootbox.alert("Verificación Correcta"
                , function () {                    
                    $('#mEvaluar').modal('show');
                    $("#NroDoc").val($("#num_" + solicitud).text());
                    $("#NombreCompleto").val($("#nom_" + solicitud).text());
                    $("#FechNacimiento").val($("#fecha_" + solicitud).text());
                    $("#Sexo").val($("#sexo_" + solicitud).text());
                    $("#GradoInstruccion").val($("#grad_" + solicitud).text());
                    $("#Salario").val($("#ing_" + solicitud).text());
                    $("#Gastos").val($("#gast_" + solicitud).text());
                    $("#Cargo").val($("#cargo_" + solicitud).text());
                    $("#id").val($("#id_" + solicitud).val());
                });

            }
        }
        
        function EvaluacionCrediticia() {
            var solicitud = $("#hddCodSolicitud").val();
        }

        function VerReporte(solicitante)
        {
            $.ajax({
                url: "/Solicitante/EvaluacionCredito",
                type: "GET",
                data: { solicitante: solicitante },
                dataType: "html",
                traditional: true,
                cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var datos = jQuery.parseJSON(data);
                    if (datos.status == true) {
                        $("#nomSolicitante").val(datos.nombre);
                        $("#capital").val(datos.capital);
                        $("#txtRiesgo").val(datos.riesgo);
                    } else {
                        bootbox.alert({
                            message: datos.message,
                            size: 'small'
                        });
                        return false;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    bootbox.alert('error', textStatus, 'Error');
                }
            });
        }

        function CargarEstado() {
            $.get('@Url.Action("ListaEstados", "Solicitante")')
            .done(function (data) {
                $('#cboEstado').empty();
                $('#cboEstado').append('<option value="-1">--TODOS--</option>');
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.Codigo);
                    $option.html(row.Descripcion);
                    $('#cboEstado').append($option);
                })
            })
            .fail(function (data) {
                console.log('error');
            });
        }

        function Buscar()
        {
            $('span[id="msgVal"]').remove();

            var desc = $('#txtDesc').val();
            var estadoId = $('select[name=cboEstado]').val();
            $("#btnEvaluar").prop("disabled", true);

            $.ajax({
                url: "/Solicitante/Buscar",
                type: "GET",
                data: { desc: desc, estado: estadoId },
                dataType: "html",
                traditional: true,
                cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == undefined) {
                        $("#hddCodSolicitud").val("");
                        $("#gridSolicitud").html(data);
                    } else {
                        if (data.status == false) {
                            bootbox.alert({
                                message: data.message,
                                size: 'small'
                            });
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    bootbox.alert('error', textStatus, 'Error');
                }
            });
        }

    </script>

    <script type="text/javascript">
        var message = '@message';
        if (message)
            bootbox.alert(message);

        var id = '@id';
        if (id) {
            VerReporte(id);
            $("#mReporteCrediticio").modal('show');
        }

    </script>
}