
@{
    ViewBag.Title = "Evaluacion de Procedimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var message = TempData["msg"] ?? string.Empty;
}


<div class="container2">
    <div class="row col-lg-12">
        <h3 class="page-header">Evaluación de procedimientos</h3>
    </div>

    <div class="row col-lg-12">
        <fieldset>
            <div class="col-md-4 width-dash-sh">
                <label class="control-label col-md-4">Periodo: </label>
                <div class="col-md-8">
                    <select class="form-control selectpicker" name="cboPeriodo" id="cboPeriodo" style="width:155px"></select>
                </div>
            </div>
            <div class="col-md-3 width-dash-sh">
                <label class="control-label col-md-4">Franquicia: </label>
                <div class="col-md-8">
                    <select class="form-control selectpicker" name="cboFranquicia" id="cboFranquicia" style="width:155px"></select>
                </div>
            </div>
            <div class="col-md-3 width-dash-sh">
                <label class="control-label col-md-4">Condición: </label>
                <div class="col-md-8">
                    <select class="form-control selectpicker" name="cboCondicion" id="cboCondicion" style="width:130px"></select>
                </div>
            </div>
            <div class="col-md-1 margenBoton">
                <span class="input-group-btn">
                    <a class="btn btn-primary" href='#' onclick="Buscar();" id='btnBuscar' title='Buscar'>
                        <span class='glyphicon glyphicon-search'>
                            Buscar
                        </span>
                    </a>
                    <a data-modal="" class="btn btn-primary" href='#' onclick="Evaluar();" id='btnProcedimiento' title='Evaluar Procedimiento'>
                        <span class='glyphicon glyphicon-cog'>
                            Evaluar
                        </span>
                    </a>
                </span>
            </div>
        </fieldset>
    </div>
    <div class="row col-lg-12" style="height:25px;">
    </div>
    <div class="row col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-table" aria-hidden="true"></i> Listado de evaluaciones
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="gridProcedimiento">
                            @Html.Partial("_Procedimientos")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog" style="width:750px">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jsEvalProc/Procedimiento.js")

    <section class="scripts">

        <script type="text/javascript">

        $(document).ready(function () {
            CargarPeriodo();
            CargarFranquicia();
            CargarCondicion();
        });

        function CargarPeriodo() {
            $.get('@Url.Action("ListaPeriodo", "Procedimiento")')
            .done(function (data) {
                $('#cboPeriodo').empty();
                $('#cboPeriodo').append('<option value="-1">--TODOS--</option>');
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.Nombre);
                    $option.html(row.Nombre);
                    $('#cboPeriodo').append($option);
                })
            })
            .fail(function (data) {
                console.log('error');
            });
        }

        function CargarFranquicia() {
            $.get('@Url.Action("ListaFranquicia", "Procedimiento")')
            .done(function (data) {
                $('#cboFranquicia').empty();
                $('#cboFranquicia').append('<option value="-1">--TODOS--</option>');
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.Id);
                    $option.html(row.Nombre);
                    $('#cboFranquicia').append($option);
                })
            })
            .fail(function (data) {
                console.log('error');
            });
        }

        function CargarCondicion() {
            $.get('@Url.Action("ListaCondicion", "Procedimiento")')
            .done(function (data) {
                $('#cboCondicion').empty();
                $('#cboCondicion').append('<option value="-1">--TODOS--</option>');
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.Id);
                    $option.html(row.Nombre);
                    $('#cboCondicion').append($option);
                })
            })
            .fail(function (data) {
                console.log('error');
            });
        }

        function Buscar()
        {
            var clienteId = $('select[name=cboCliente]').val();
            var equipoId = $('select[name=cboEquipo]').val();
            var usuarioId = $('select[name=cboUsuario]').val();
            var fecha = $('#dpFecha').val();
            var busqueda;

            if (clienteId == 0) {
                bootbox.alert({
                    message: "Seleccione cliente",
                    size: 'small'
                });
                return false;
            }

            if (equipoId == 0) {
                bootbox.alert({
                    message: "Seleccione equipo",
                    size: 'small'
                });
                return false;
            }

            if (fecha == "") {
                bootbox.alert({
                    message: "Seleccione fecha",
                    size: 'small'
                });
                return false;
            }


            var arrayFecha = fecha.split('/');
            var dia = arrayFecha[0];
            var mes = arrayFecha[1];
            var anio = arrayFecha[2];

            busqueda = clienteId + "_" + equipoId + "_" + usuarioId + "_" + anio + mes + dia;
            $.ajax({
                url: "/Tracking/Buscar",
                type: "GET",
                data: { cliente: clienteId, equipo: equipoId, usuario: usuarioId, fecha: fecha },
                dataType: "html",
                traditional: true,
                cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == undefined) {
                        var rep = jQuery.parseJSON(data);
                        LoadMapa(rep, usuarioId);
                        LoadGraficoArea(rep);
                        var urlVisitas = "/Tracking/Visitas/" + busqueda;
                        $("a#btnVisitas").attr("href", urlVisitas);
                        $("#divVisita").removeClass("ocultardiv");
                    } else {
                        if (data.status == false) {
                            bootbox.alert({
                                message: data.message,
                                size: 'small'
                            });
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    bootbox.alert('error', textStatus, 'Error');
                }
            });

            LoadResumen(clienteId, equipoId, usuarioId, fecha);
            LoadResumenDetalle(clienteId, equipoId, usuarioId, fecha);
        }


        </script>
        <script type="text/javascript">
        var message = '@message';
        if (message)
            bootbox.alert(message);
        </script>

    </section>
}